<div class="commits">
  <ul class="commits">
  <li>
    <div class="commit">
      <dl class="commit">
      <dt class="message">message</dt>
      <dd class="message">ported blocks server to gitgo</dd>
      <dt class="author">author</dt>
      <dd class="author">
        <ul class="user">
        <li class="name">Simon Chiang</li>
        <li class="email">simon.chiang@pinnacol.com</li>
        </ul>
      </dd>
      <dt class="author-date">authored date</dt>
      <dd class="author-date">Tue Oct 20 17:06:36 -0600 2009</dd>
      <!-- 
      <dt class="committer">author</dt>
      <dd class="committer">
        <ul class="user">
        <li class="name">Simon Chiang</li>
        <li class="email">simon.chiang@pinnacol.com</li>
        </ul>
      </dd>
      <dt class="committed-date">committed date</dt>
      <dd class="committed-date">Tue Oct 20 17:06:36 -0600 2009</dd>
      -->
      <dt class="sha">commit</dt>
      <dd class="sha"><a href="/commit/7eb5f62b79e634c1604fc835f40e7a62ae68e4c6">7eb5f62b79e634c1604fc835f40e7a62ae68e4c6</a></dd>
      <dt class="tree">tree</dt>
      <dd class="tree"><a href="/tree/7eb5f62b79e634c1604fc835f40e7a62ae68e4c6">7eb5f62b79e634c1604fc835f40e7a62ae68e4c6</a></dd>
      <dt class="parents">parents</dt>
      <dd class="parents">
        <ul class="parents">
        <li class="parent"><a href="/commit/6edec436e708eb875d4e53f1bf82d65d15eecb10">6edec436e708eb875d4e53f1bf82d65d15eecb10</a></li>
        </ul>
      </dd>
      </dl>
    </div>
  </li>
  </ul>
</div>