<div class="issue">
  <dl class="description">
  <dt class="title">Title</dt>
  <dd class="title">New Issue</dd>
  <dt class="desc">Description</dt>
  <dd class="desc">This is a new issue</dd>
  <dt class="author">Author</dt>
  <dd class="author">John Doe</dd>
  <dt class="email">Email</dt>
  <dd class="email">john.doe@email.com</dd>
  <dt class="date">Date</dt>
  <dd class="date"><abbr title="Time.now.iso8601">Date Time</abbr></dd>
  <dt class="state">State</dt>
  <dd class="state">Open</dd>
  <dt class="tags">Tags</dt>
  <dd class="tags">
    <ul class="tags">
    <li class="tag">one</li>
    <li class="tag">two</li>
    <li class="tag">three</li>
    </ul>
  </dd>
  <dt class="comments">Comments</dt>
  <dd class="comments">
  <ul>
  </ul>
  </dd>
  </dl>
</div>

