<div class="comment">
  <dl class="commit">
  <dt class="author">author</dt>
  <dd class="author"><%= comment.author %></dd>
  <dt class="date">date</dt>
  <dd class="date"><%= comment.date %></dd>
  <dt class="content">content</dt>
  <dd class="content"><%= comment.content %></dd>
  </dl>
</div>