.content {
  width: 80%;
}

input[type=text] {
  width: 600px;
  border: 1px solid #cccccc;
  padding: 0.3em;
}

textarea {
  width: 600px;
  height: 120px;
  border: 1px solid #cccccc;
  padding: 0.3em;
}

dl[active=false], a[active='false'], li[active=false] a {
  color: #C0C0C0;
}

dl[active=''], a[active=''], li[active=''] a {
  color: gray;
}

.doc, .doc>ul, .doc>canvas {
  float: left;
}

