  <ul><% comments.each do |comment| %><% if comment.kind_of?(Array) %>
  <li>
<%= erb :_comments, :locals => {:parent => parent, :comments => comment }, :layout => false %>
  </li><% else %>
  <li>
<%= erb :_comment, :locals => {:parent => parent, :comment => comment }, :layout => false %>
  </li><% parent = comment %><% end %><% end %>
  </ul>