<h1>Issue <%= format.sha_a issue.sha %></h1>

<form action="<%= form.url('issue', issue.sha) %>" method="post">
  <input type="hidden" name="_method" value="update"/>
<%= erb :_issue_form, :locals => {:doc => issue, :parents => issue.node.parents }, :layout => false %>
</form>

<form action="<%= form.url('issue', issue.sha) %>" method="post">
  <input type="hidden" name="_method" value="delete"/>
  <input type="submit" value="Delete" />
</form>