<h1>Issue <%= format.sha_a issue.sha %></h1>

<form action="<%= form.url('issue', issue.sha) %>" method="post">
  <input type="hidden" name="_method" value="update"/>
  <input type="hidden" name="commit" value="true"/>
<%= erb :_form, :locals => {:doc => issue.attrs, :submit => 'Update'}, :layout => false %>
</form>