<h1>Issue <%= format.sha_a issue.sha %></h1>

<form action="<%= form.url('issue', issue.sha) %>" method="post">
  <input type="hidden" name="_method" value="update"/>
<%= erb :_issue_form, :locals => {:doc => issue.attrs, :origin => issue.graph_head?, :submit => 'Update', :head => head}, :layout => false %>
</form>