

<ul class="comments-<%= nesting_depth %>"><% comments.each_pair do |doc, nested_comments| %>
<li>
<%= erb :document, :locals => {:document => doc, :comments => nested_comments}, :layout => false %>
</li><% end %>
</ul>