<h2><%= document.sha %></h2>
<div class="document">
  <dl class="document">
  <dt class="author">author</dt>
  <dd class="author"><%= document.author %></dd>
  <dt class="date">date</dt>
  <dd class="date"><%= document.date %></dd>
  <dt class="content">content</dt>
  <dd class="content"><%= document.content %></dd>
  </dl>
</div>