<h2>Tree <%= tree.id %></h2>
<div class="tree">
  <ul class="contents"><% tree.contents.each do |obj| %>
    <li class="<%= obj.type %>"><%= show_link(obj) %></li><% end %>
  </ul>
</div><% unless comments.empty? %>

<%= erb :_comments, :locals => {:comments => comments}, :layout => false %><% end %>