<%= erb :_commit, :locals => {:commit => commit }, :layout => false %>

<p><%= path_links(id, path) %></p>

<ul>
<% tree.contents.each do |obj| %>
<%   if obj.kind_of?(Grit::Tree) %>
  <li>/<%= tree_link(id, path, obj.name) %></li>
<%   else %>
  <li><%= blob_link(id, path, obj.name) %></li>
<%   end %>
<% end %>
</ul>
