<div class="comment">
  <dl class="description">
  <dt class="desc">Comment</dt>
  <dd class="desc">Comment on the issue</dd>
  <dt class="author">Author</dt>
  <dd class="author">John Doe</dd>
  <dt class="email">Email</dt>
  <dd class="email">john.doe@email.com</dd>
  <dt class="date">Date</dt>
  <dd class="date"><abbr title="Time.now.iso8601">Date Time</abbr></dd>
  <dt class="state">State</dt>
  <dd class="state">Closed</dd>
  <dt class="comments">Comments</dt>
  <dd class="comments">
  <ul>
  </ul>
  </dd>
  </dl>
</div>